# Fuzzy Match Module - Fuzzy Match Configuration File
## Copyright (C) 2011 iFLYTEK.
## Use ';' and '#' character for notation
## Note: Commands in this cfg file is case sensitive

[fuzzy]
pinyin_path		= ./pinyin.exp
phone_cost_path		= ./phonecost.exp
word_len1_threshold	= 0.92
word_len2_threshold	= 0.92
word_unlen2_threshold	= 0.92
word_morelen3_threshold	= 0.92

[encoding]
encode			= gbk 

[equal_word]
word			= Á½#¶þ;

[filter]
trim_gb			= £¬¡££¿£¡¡¶¡·£¨£©¡°¡±
